<!DOCTYPE html>
<html>

    <head>
        <title>Istiaq | me</title>
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Montserrat:300i" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    </head>

    <body>
        <header>

            <img src= "/static/images/test.jpg" id="wilderness" alt="wilderness">
            
            <p id="intro_1">Hey there, I'm</p>
            <p id="intro_2">Istiaq</p>
            <p id="intro_3">A Computer Scientist based in Waterloo, Canada</p>

            <div id="icons">
                <a href="https://github.com/istiaq107" class="fab fa-github-square"></a>
                <a href="https://www.linkedin.com/in/istiaq107/" class="fab fa-linkedin"></a>
                <a href="http://medium.com/@istiaq107" class="fab fa-medium" style="padding-left: 21px"></a>
                <a href="mailto:miullah@uwaterloo.ca" class="fas fa-envelope-square" style="font-size: 40px"></a>
            </div>
        
            <!-- <p id="summ">Born and bred in Chittaong, Bangladesh, I moved Canada to pursure 
                a degree in Computer Science from the University of Waterloo. </p> -->
    
        </header>

        <footer>
            
        </footer>

    </body>

</html>